body {
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: #f3f3f3;
    width: 700px;
}

h2 {
    margin: 0;
}

.action {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    border: 6px solid #f3f3f3;
    border-radius: 25px;
    text-align: center;
    background: rgb(89,36,150);
    background: linear-gradient(0deg, rgba(89,36,150,1) 42%, rgba(0,0,0,1) 100%);
    padding: 20px;
}

.timer {
    font-size: 30px;
    font-weight: 600;


    
    
}